<?xml version="1.0" encoding="utf-8"?>

<!-- https://learn.microsoft.com/en-us/aspnet/core/host-and-deploy/visual-studio-publish-profiles -->
<!-- https://learn.microsoft.com/en-us/dotnet/core/deploying/single-file -->
<!-- https://learn.microsoft.com/en-us/dotnet/core/deploying/native-aot -->
<!-- https://learn.microsoft.com/en-us/dotnet/core/rid-catalog -->

<Project>
	<PropertyGroup>
		<PublishAot>true</PublishAot>
	</PropertyGroup>

	<PropertyGroup>
		<Configuration>Release</Configuration>
		<Platform>Any CPU</Platform>
		<PublishDir>bin\Publish\linux-x64-native-aot\</PublishDir>
		<PublishProtocol>FileSystem</PublishProtocol>
		<TargetFramework>net10.0</TargetFramework>
		<RuntimeIdentifier>linux-x64</RuntimeIdentifier>
	</PropertyGroup>

	<PropertyGroup>
		<SelfContained>true</SelfContained>
		<PublishReadyToRun>true</PublishReadyToRun>
		<IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
		<IncludeAllContentForSelfExtract>true</IncludeAllContentForSelfExtract>
		<EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
	</PropertyGroup>

	<PropertyGroup>
		<DebugType>None</DebugType>
		<StripSymbols>true</StripSymbols>
		<IncludeSymbols>false</IncludeSymbols>
		<DebugSymbols>false</DebugSymbols>
	</PropertyGroup>
</Project>
